.buttonAnswers {
    margin: 3px auto auto;
    width: 100%;
    max-width: 250px;
    align-items: center;
    height: 45px;
    border-radius: 15px;
    background-color: #72a0b6;
    color: white;
    font-size: 25px;
    border: none;
    display: block;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.titleDePrueba{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding-top: 4vh;
    font-family: sans-serif;
    color: #000;
    text-align: center;
    font-size: 50px;
    position: relative;
    margin-bottom: 40px;
}


.message {

    color: #fdfdfd;
    margin: 60px auto auto auto;
    font-weight: bolder;
    text-align: center;
    max-width: 100px;
    border-radius: 5px;
    background-color: #e48166;
    font-size: 15px;

}

.score {

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding-top: 10px;
    font-family: sans-serif;
    font-weight: bolder;
    color: #000;
    text-align: center;
    font-size: 50px;
    position: relative;

}

.correct {
    background-color: #4CAF50;
    color: white;
}

.incorrect {
    background-color: #f44336;
    color: white;
}

.arrowLeftSolid1Icon {
    position: absolute;
    top: 16px;
    left: 16px;
    width: 28px;
    height: auto;
    cursor: pointer;
}


