
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logIn {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    min-height: 100vh;
    padding: 5vh 5vw;
    font-family: Inter, sans-serif;
    color: #000;
    text-align: center;
    font-size: 15px;
    position: relative;
}

.arrowLeftSolid1Icon {
    position: absolute;
    top: 16px;
    left: 16px;
    width: 28px;
    height: auto;
    cursor: pointer;
}

.loginImageIcon {
    width: 50vw;
    max-width: 226px;
    height: auto;
    margin-top: 64px;
}

.loginPage {
    font-size: 24px;
    margin-top: 32px;
}

.rectangleGroup {
    width: 100%;
    max-width: 333px;
    margin-top: 24px;
}

.inputField {
    width: 100%;
    max-width: 333px;
    height: 52px;
    padding: 0 12px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: rgba(245, 245, 245, 0.76);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.forgotPassword {
    margin-top: 16px;
    font-weight: 300;
    color: #16b3b9;
    cursor: pointer;
    font-size: 14px;
    width: 100%;
    max-width: 333px;
    text-align: right;
}

.errorMessage {
    margin-top: 12px;
    width: 100%;
    max-width: 333px;
    color: red;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

.logInButton {
    margin-top: 32px;
    width: 100%;
    max-width: 333px;
    height: 62px;
    border-radius: 15px;
    background-color: #16b3b9;
    color: white;
    font-size: 24px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.logInButton:hover {
    background-color: #139ba0;
}

.buttonForDesplegableMenu {
    margin-top: 3px;
    width: 100%;
    max-width: 150px;
    height: 25px;
    border-radius: 15px;
    background-color: #03a8f5;
    color: white;
    font-size: 15px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;

}
