<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            text-align: center;
            margin: 0;
            padding: 50px;
        }
        a {
            display: inline-block;
            margin-top: 20px;
            text-decoration: none;
            background-color: #007BFF;
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
            transition: 0.3s;
        }

        a:hover {
            background-color: #0056b3;
        }
        </style>
</head>
<body>
<h3>Usuario registrado con éxito.</h3>
<a href="/">
    <button>Volver</button>
</a>
<h3>
<td><%= username %></td>
<td><%= email %></td>
<td><%= password %></td>
</h3>
<form action="/register" method="POST"> </form>
</body>